<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Having previously spent over 8 years as a back-end developer, I have a strong passion for creating state-of-the-art, user-friendly
websites and applications.

I am well-versed in numerous programming languages including PHP, JavaScript, MySQL, and Java. Have practical experience over Data visualization using
JavaScript frameworks like D3, ChartJS and LeafletJS. Having strong background in project management and client relations augments my soft skills and I am experienced with all
stages of the development cycle for dynamic web projects. I am well-versed in Agile-driven software management using tools such as JIRA, Bitbucket, and Git.

Having a professional certificate in Automated Software Testing gives me the confidence to ensure bug-free systems as much as possible.

Additionally, I have experience in DevOps and have used tools like Docker and Kubernetes.

Overall, I bring a diverse skill set and a passion for creating innovative and high-quality web projects to any team I work with
		</div>
		<br>
	</div>
</div>
