<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Having previously spent over 4 years as a back end developer with state-of-art, easy to use, user-friendly websites and applications is truly a passion of mine.<br/>
			I am well-versed in numerous programming languages including PHP, JavaScript, MySQL, and Java.<br/>
			Have practical experience over data visualization using JavaScript frameworks i.e. D3, D3Plus and Leafletjs.<br/>
			Strong background in project management and client relations. Experienced with all stages of the development cycle for dynamic web projects. Experienced with Agile driven software management using tools like JIRA, youtrack, bitbucket and git.<br/>
			Having professional certificate on Automated Software Testing makes me confident to have bug free system as much as possible.
		</div>
		<br>
	</div>
</div>
