<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Je suis analyste developpeur java senior. <br />
			Depuis 2001, j'ai développé essentiellement des applications web à base de java EE, Struts, Hibernate, Spring sur des serveurs d'applications Websphere, JBoss et JOnAS.<br/>
			En 2016, j'ai initié la transformation d'applications legacy monolytique en microservices Spring Boot côté backend et Angular côté frontend.<br>
			Par la même occasion, j'ai mis en place un processus de déploiement continu de ces applications grâce au couple gitlab et jenkins<br/>
			<br/>
			Papa de deux enfants, je suis cinéphile et passionné de photographie
		</div>
		<br>
	</div>
</div>
